doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Strawberry Zoom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1 🍓 Strawberry Zoom 🍓
    main
      div#welcome
        form
          input(placeholder="Room name", required, type="text")
          button Enter room
      div#room
        h3
        ul
        form#name
          input(placeholder="name", required, type="text")
          button Save
        form#message
          input(placeholder="message", required, type="text")
          button Send
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
    script(src="/public/js/background.js")